<html>
<head>
  <link type='text/css' rel='stylesheet' href='/css/styles.css'>
</head>
<body>
<center>
  <h1>Here are your requests</h1>

  <form action="/sessions/destroy" method="post">
  <input type="submit" value='Sign out' />
  </form>

  <form action="/spaces">
  <input type="submit" value="Homepage">
  </form>

  <h2>Requests I've made:</h2>

  <% Booking.all.each do |booking| %> 
    <% if booking.user_id == session[:user_id] %> 
      Name: <%= Space.find_by(id: booking.space).name %> 
      Description: <%= Space.find_by(id: booking.space).price %></br>
      Price per night: <%= Space.find_by(id: booking.space).price %></br>
      Status: <%= booking.confirmed ? "Confirmed" : "Not confirmed" %></br></br>
    <% end %>
  <% end %>

  <h2>Requests I've received:</h2>

  <% Booking.all.each do |booking| %> 
    <% if Space.find_by(id: booking.space).user_id == session[:user_id] %> 
      Name: <%= Space.find_by(id: booking.space).name %> 
      Description: <%= Space.find_by(id: booking.space).price %></br>
      Price per night: <%= Space.find_by(id: booking.space).price %></br>
      Status: <%= booking.confirmed ? "Confirmed" : "Not confirmed" %></br></br>
    <% end %>
  <% end %>



</body>
</html>
