<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spaces</title>
  <link type='text/css' rel='stylesheet' href='/css/styles.css'>
</head>
<body>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/js/interface.js"></script>
  
  <h1>MakersBnB</h1>

  <h2>Welcome <%= User.find_by(id: session[:user_id]).name %></h2>
  <a href='/spaces/new'><button>Create new space</button></a>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value='Sign out' />
  </form>

  <form action="/requests" method="post">
    <input type="submit" value='View requests' />
  </form>




  <% Space.all.each do |space| %>
    <img src='<%= space.photo_url %>' height='420' width='auto'></br>
    Name: <%= space.name %></br>
    Description: <%= space.description %></br>
    Price per night: <%= space.price %></br></br>
  <% end %>
  
</body>
</html>


