<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spaces</title>
  <link type='text/css' rel='stylesheet' href='/css/styles.css'>

</head>
<body>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/js/interface.js"></script>
  
  <h1>MakersBnB</h1>

  <h2>Welcome <%= User.find_by(id: session[:user_id]).name %></h2>
  <form action="/spaces/new">
    <input type="submit" value='Create new space' />
  </form>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value='Sign out' />
  </form>

  <a href="/requests">Your Requests</a></br>

  <% Space.all.each do |space| %> 
    <% if space.user_id != User.find_by(id: session[:user_id]).id%>
      <img src='<%= space.photo_url %>' height='420' width='auto'></br>
      <form action="/bookings" method="post" >
        Name: <input type="submit" name="choice" value='<%=space.name%>' /> 
      </form>
      Description: <%= space.description %></br>
      Price per night: <%= space.price %></br></br>
    <% end %>
  <% end %>
  
</body>
</html>
